/* src/components/MainScreen.css */

.main-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
  }
  
  .game-stats {
    margin: 20px 0;
  }
  
  .restart-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .restart-button:hover {
    background-color: #45a049;
  }